document 
bs4
nltk
psycopg2
docx
PyMuPDF
pdf2docx
mammoth
htmldocx
docxtpl 
docxcompose
docx2python 
python-dotenv
numpy 
matplotlib 
pandas 
plotly 
groq 
anthropic 
python-pptx
pypdf 
kaleido
langchain 
